In [ ]:
nested

for var1 in list1:
    print(statement)
    for var2 in list2:
        print("statement")
print(statement)
print(statement)

In [ ]:
[1,2,3,4]--for
["a","b"]--for

In [ ]:
1-'a', 1-'b', 2-'a',2-'b',3-'a',3-'b',4-'a',4-'b'

In [1]:
outerloop=[1,2,3,4]

In [2]:
inner_loop=["a","b"]

In [3]:
for var1 in outerloop:
    print("var1",var1)
    for var2 in inner_loop:
        print("var2" ,var2)

var1 1
var2 a
var2 b
var1 2
var2 a
var2 b
var1 3
var2 a
var2 b
var1 4
var2 a
var2 b

In [4]:
food_item=["item1","item2","item3"]

In [6]:
price_items=[200,250,300]

In [7]:
for item in food_item:
    print(" food items is ",item)
    for price in price_items:
        print(" each quantity wise prices", price)

 food items is  item1
 each quantity wise prices 200
 each quantity wise prices 250
 each quantity wise prices 300
 food items is  item2
 each quantity wise prices 200
 each quantity wise prices 250
 each quantity wise prices 300
 food items is  item3
 each quantity wise prices 200
 each quantity wise prices 250
 each quantity wise prices 300

In [ ]:
syntax:
    
def functionname(parameter/variables,paramter/variables(int,str,seq--list,tuple,dict,set,array,df)):
    statement
    statement
    return varaible/statemnt/conditions--optional

In [ ]:
def functionname(name,age,loction)

In [ ]:
def functionname(name=,age=,location=)

In [ ]:
def function name(name : str ,age : int ,location: str)

In [ ]:
function --2types

In [ ]:
inbuilt 

print("",vara)

In [ ]:
type(varaible)

In [ ]:
user defined----own logic

In [ ]:
def

In [ ]:
    
def functionname(parameter/variables,paramter/variables(int,str,seq--list,tuple,dict,set,array,df):
    statement
    statement
    return varaible/statemnt/conditions--optional

In [ ]:
2,3 --addition

In [ ]:
# function definition---logic
#funciton call --logic -multiple input paramet test /ouptut

In [8]:
num1=2

In [9]:
num2=3

In [11]:
addition=num1+num2

In [12]:
addition

5

In [13]:
def addtion_test(par1,par2):
    num1=par1
    num2=par2
    addition=num1+num2
    return addition

In [18]:
def addtion_test1(par1,par2):
    num1=par1
    num2=par2
    
    return num1+num2

In [14]:
addtion_test(3,6)

9

In [19]:
addtion_test1(3,6)

9

In [ ]:
built functions-->predefined function

In [ ]:
numeric functions-->int float

In [ ]:
abs()---->

In [1]:
int_var=-20

In [2]:
int_var

-20

In [3]:
new_int_var=abs(int_var)

In [4]:
new_int_var

20

In [5]:
int_pos_var=+20

In [6]:
int_pos_var

20

In [ ]:
ceil--- float

In [9]:
import math

In [7]:
float_var=123.456

In [10]:
new_float_var=math.ceil(float_var)

In [11]:
new_float_var

124

In [ ]:
floor --->float

In [12]:
new_floar_var=123.456

In [13]:
floar_new_var_v1=math.floor(new_floar_var)

In [14]:
floar_new_var_v1

123

In [ ]:
round()---float,,,,  decimal

In [ ]:
123.456
123.46

In [ ]:
124.53
124.56
1
124.5
124.6

In [ ]:
round(variable,roundup value)

In [16]:
round_val=123.456

In [17]:
roun_0=round(round_val)

In [18]:
roun_0

123

In [19]:
roun_1=round(round_val,0)

In [20]:
roun_1

123.0

In [21]:
roun_1=round(round_val,1)

In [22]:
roun_1

123.5

In [23]:
roun_2=round(round_val,2)

In [24]:
roun_2

123.46

In [ ]:
mathematics--Fuctions

In [ ]:
sum()--seq,data column

In [25]:
lst=[1,2,3,4,5]

In [ ]:
lst.sum()--->

In [26]:
sum(lst)

15

In [ ]:
average()

In [ ]:
max()

In [27]:
lst=[12,34,56,89,32,45]

In [28]:
max(lst)

89

In [ ]:
min()

In [29]:
lst=[12,34,56,89,32,45]

In [30]:
min(lst)

12

In [ ]:
count()

In [31]:
count(lst)

NameError: name 'count' is not defined

In [32]:
lst.count()

TypeError: list.count() takes exactly one argument (0 given)

In [ ]:
---string function--->char data

In [ ]:
len()

In [33]:
name="paramatma"

In [34]:
len(name)

9

In [36]:
name="paramatma param"

In [37]:
len(name)

15

In [38]:
name.split()

['paramatma', 'param']

In [ ]:
lower()

In [40]:
name="Paramatma Param"

In [41]:
name.lower()

'paramatma param'

In [ ]:
upper()

In [42]:
name.upper()

'PARAMATMA PARAM'

In [ ]:
propcase  -----Paramatma
camel case---->aasdfaN

In [ ]:
etc --->

In [ ]:
statistical functions:

In [ ]:
df ,variable

In [ ]:
mean(),average
mode(),most repeated
median() -----[1,2,3,5,6]
quartiles
quantiles
[1,2,3,4,5,6,----100]--partitioning

In [ ]:
1,2,3,4,5,--50

In [ ]:
10---decile

In [ ]:
1 1-5
2 6-10

In [ ]:
10----decile --10

In [ ]:
10--1
10-20--2
30-40--3
--10--90--100

In [ ]:
percentile --? 100%

In [ ]:
1/0,2/1

In [43]:

import pandas as pd

In [44]:
df=pd.DataFrame({"values": [23,34,56,78,90,32,45,67,89,76,43,21,56]})

In [45]:
df

    values
0       23
1       34
2       56
3       78
4       90
5       32
6       45
7       67
8       89
9       76
10      43
11      21
12      56

In [46]:
df.describe()

          values
count  13.000000
mean   54.615385
std    23.960170
min    21.000000
25%    34.000000
50%    56.000000
75%    76.000000
max    90.000000

In [47]:
df.mean()

values    54.615385
dtype: float64

In [48]:
df.median()

values    56.0
dtype: float64

In [49]:
df.max()

values    90
dtype: int64

In [50]:
df.min()

values    21
dtype: int64

In [51]:
# df.percentile(0)

AttributeError: 'DataFrame' object has no attribute 'percentile'

In [ ]:
user defined function(own ) --built in (logic moify)

In [ ]:
-----built in function -->search

In [ ]:
--user define

In [ ]:

3 
addition

4 number multile


2 divisioin

In [ ]:
3 
addition

In [ ]:
logic

In [52]:

n1=10
n2=30
n3=40

add=n1+n2+n3

In [60]:

# static function--?
def addition_3number():
    n1=10
    n2=30
    n3=40
    add=n1+n2+n3
    return add

In [66]:
addition_3number()

80

In [68]:
# dynamic function
def addition_3number_v1(par1,par2,par3):
    n1=par1
    n2=par2
    n3=par3
    add=n1+n2+n3
    return add

In [70]:
addition_3number_v1(140,50,60)

250

In [72]:
# dynamic function
par1=10
par2=20
par3=40
def addition_3number_v2(var1=par1,var2=par2,var3=par3):
    n1=var1
    n2=var2
    n3=var3
    add=n1+n2+n3
    return add

In [74]:
addition_3number_v2(30,50,70)

150

In [78]:
# dynamic function
par3=10
par2=20

def addition_3number_v3(var1,var2=par2,var3=par3):
    n1=var1
    n2=var2
    n3=var3
    add=n1+n2+n3
    return add

In [79]:
addition_3number_v3(30,50,70)

150

In [ ]:
seq,str,int yes

In [ ]:
fooditems --- deliver 

Birayni item--param
veg item--nivas

In [80]:
fooditem=["CB","MB","PB","DAL","VEGITABLESOUPS"]

In [ ]:
LOOPS
FOR --  LIMIT
WHILE --NO LIMIT --


RULES CONDITION
IF 
IF ELSE--?
IF ELIF ---?

MODULE DEF

In [83]:
fooditem=["CB","MB","PB","DAL","VEGITABLESOUPS"]

In [85]:
def food_delivery(fooditem):
    for var in fooditem:
        if var=="CB":
            print(" deliver to param")
        elif var=="MB":
            print(" deliver to param")
        elif var=="PB":
            print(" deliver to param")
        else:
            print(" deliver to nivas")

In [90]:
def food_delivery(fooditem):
    for var in fooditem:
        if var=="CB":
            print(" deliver to param")
        elif var=="MB":
            print(" deliver to param")
        elif var=="PB":
            print(" deliver to param")
        else:
            print(" deliver to nivas")

In [87]:
fooditem_monday=["vegcurry2","MB","vegcurry","DAL","VEGITABLESOUPS"]

In [91]:
food_delivery(fooditem_monday)

NameError: name 'fooditem_1' is not defined

In [88]:
food_delivery(fooditem)

 deliver to param
 deliver to param
 deliver to param
 deliver to nivas
 deliver to nivas

In [ ]:
scenarion

variable
conditions
loops
function


------nested loops
nested condtion
functions---->
oops start