In [ ]:


---while --- unlimits
---do while
-- do until

---for loops --limit

In [ ]:
datatypes:   list, tuple, set, dict, arrays, pandas dataframe

In [ ]:
for loopingvariable/iterator/variable in datatypevariable(list/tuple/set/dict/dataframe/array):
    statements
    statements
    statements

In [1]:
names=["param","nivas","athma"]

In [2]:
names

['param', 'nivas', 'athma']

In [3]:
for i in names:
    print(i)
#     param
#     nivas
#     athma

param
nivas
athma

In [5]:
score=[10,2,3,45,65,7,8,98,76,87]

In [7]:
for scr in score:
    print(scr)

10
2
3
45
65
7
8
98
76
87

In [ ]:
addition 10 : values
addition 10 : 20

In [ ]:
for scr in score:
    print(scr)

In [ ]:
score=[10,2,3,45,65,7,8,98,76,87]

In [8]:
for scr in score:
    print("addition 10 :",scr+10)

addition 10 : 20
addition 10 : 12
addition 10 : 13
addition 10 : 55
addition 10 : 75
addition 10 : 17
addition 10 : 18
addition 10 : 108
addition 10 : 86
addition 10 : 97

In [9]:
for scr in score:
    print("addition 10:",scr, scr+10)

addition 10: 10 20
addition 10: 2 12
addition 10: 3 13
addition 10: 45 55
addition 10: 65 75
addition 10: 7 17
addition 10: 8 18
addition 10: 98 108
addition 10: 76 86
addition 10: 87 97

In [10]:
cricket=[56,45,100,112,30,0,50,65,23,0]

In [ ]:
100 century 
>100 century+
50 half century
>50 100 half century above
<50 near to 30's
0 dock out

In [ ]:
lower limit
uperlimit

10
0-10=
=10-20
20-30

In [ ]:
cricket=[56,45,100,112,30,0,50,65,23,0]
("half century above")
"near to 30's"

In [13]:
for score in cricket:
    print(score)
    if score>100:
        print("century+")
    elif score==100:
        print("century")
    elif score==50:
        print("half century")
    elif score>=50 and score<100 :
        print("half century above")
    elif score>=1 and score<50 :
        print("near to 30's")
    elif score==0 :
        print("dock out ")
    else:
        print(" tag not required")
print("the loos is completed")
print("next logic is executing")

56
half century above
45
near to 30's
100
century
112
century+
30
near to 30's
0
dock out
50
half century
65
half century above
23
near to 30's
0
dock out
the loos is completed
next logic is executing

In [ ]:
value create---range()

In [ ]:
range(starting position 0 ,ending position mandatory,increment/decrement 1 2)

In [14]:
range(0,10,1)

range(0, 10)

In [ ]:
0,1,2,3,4,5,6,7,8,9

In [16]:
for i in range(0,11,1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [17]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [19]:
for i in range(0,11,5):
    print(i)

0
5
10

In [20]:
lst=[1,2,3,4,5,6,7,8,9,10
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    ]

In [21]:
len(lst)

10

In [24]:
for i in range(len(lst)):
    if i==0:
        print("paramatma")
    else:
        print("param")

paramatma
param
param
param
param
param
param
param
param
param

In [ ]:
for i in range(int):

In [25]:
loop_value=23

In [26]:
for i in range(loop_value):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22